*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    margin: 0 auto;
    width: 1002px;
    /* background: #f00; */
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.nav{
    overflow: hidden;
}
#header{
    height: 120px;
    /* background: #000; */
    overflow: hidden;
}
#header-logo{
    float: left;
    margin-top: 30px;
    margin-right: 117px;
}
#header-menu{
    margin: 53px 0;
    display: inline-block;
}
#header-menu li{
    float: left;
    padding: 0 25px;
    position: relative;

}
#header-menu li::after{
    content: '';
    width: 1px;
    height: 14px;
    background: #6b6b6b;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 0;
}
#search{
    width: 130px;
    height: 30px;
    background: #f1f3f6;
  
    float: right;
    margin-top: 45px;
}
#search input{
    width: 130px;
    height: 30px;
    background: #f1f3f6;
    border: none;
    outline: none;
}
/*header结束*/