*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.display-0{
    
}
#nav{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    background: #fff;
    width: 30%;
}
